<div>
  <h1>This is my personal information!</h1>
  <hot-table 
  [data]="[{name: 'Nguyễn Văn Dương', age: '21', sex: 'Male', address: 'Tân Bình', relationship: true}]" 
  [settings]="{colHeaders: true, rowHeaders: false, className: 'htCenter'}"
  licenseKey="non-commercial-and-evaluation"
  height="auto"
  ><hot-column
  data="name"
  title="Name"
  ></hot-column>
  <hot-column
  data="age"
  title="Age"
  ></hot-column>
  <hot-column
  data="sex"
  title="Sex"
  ></hot-column>
  <hot-column
  data="address"
  title="Address"
  ></hot-column>
  <hot-column
  data="relationship"
  title="Relationship"
  type="checkbox"></hot-column>
  </hot-table>
  <h2>This is a table about information of my connect!</h2>
  <hot-table [data]="dataset" 
  [settings]="hotSettings" 
  height="auto" 
  licenseKey="non-commercial-and-evaluation">
    <hot-column
    data="ID"
    title="ID"
    ></hot-column>
    <hot-column
    data="name"
    title="Name"
    ></hot-column>
    <hot-column
    data="age"
    title="Age"
    ></hot-column>
    <hot-column
    data="sex"
    title="Sex"
    editor="select"
    [selectOptions]="['Male', 'Female']"
    width="85px"
    ></hot-column>
    <hot-column
    data="address"
    title="Address"
    type="dropdown"
    [source]="listAddress"
    ></hot-column>
    <hot-column
    data="relationship"
    title="Relationship"
    type="checkbox"></hot-column>
  </hot-table>
</div>
<div class="controls">
  <button (click)="consoleData()" (click)="saveData()" class="button">Save data</button>
  <button (click)="getData()" class="button">Log data</button>
  <label for="">
    <input id="autosave" type="checkbox" (change)="autoSave()">Auto save
  </label>
</div>

<div class="consoleLog">
  <span>>>></span>
  <output id="output">Click "Save data" to save this data in SessionStorage!</output>      
</div>
