.consoleLog {
    display: block;
    background-color: #e1e1e1;
    border-radius: 2px;
    width: 500px;
    padding: 8px 20px;
    margin-top: 12px;
    border: solid 1px #666;
}

.consoleLog span {
    font-weight: 900;
    padding-right: 12px;
}

.button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    margin-top: 12px;
    border: none;
    color: #fff;
    border-radius: 2px;
    margin-right: 12px;
}

.button:hover {
    background-color: #8d8d8d;
    color: black;
    cursor: pointer;
}